/*上方選單*/

.logo,
.menu-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  margin: 0px 100px;
}
.logo img {
  width: 200px;
}
.menu-wrapper {
  width: 0px 800px;
}
.menu {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  text-align: center;
}
.menu a {
  text-decoration: none;
  color: black;
  font-family: Source Han Serif SC;
  font-style: Regular;
  font-size: 22px;
}
.yellow-text {
  color: #ae9141;
  font-family: Athelas;
  font-style: Regular;
  font-size: 22px;
}
.navbar {
  border-top: 20px solid #543822;
  background-color: #ffffff;
}
.navbar p {
  text-align: center;
}
.container-fluid {
  padding-left: 5%;
}
.collapse {
  padding-left: 13%;
}
.navbar-brand img {
  width: 230px;
}
.nav-item p {
  padding-right: 20px;
}
.logo,
.menu-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  margin: 0px 100px;
}
.logo img {
  width: 200px;
}
.menu-wrapper {
  width: 0px 800px;
}
.menu {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  text-align: center;
}
.collapse a {
  text-decoration: none;
  color: black;
  font-family: Source Han Serif SC;
  font-style: Regular;
  font-size: 22px;
}
.yellow-text {
  color: #ae9141;
  font-family: Athelas;
  font-style: Regular;
  font-size: 22px;
}
.navigation {
  border-top: 20px solid #543822;
}
.carousel-control-next,
.carousel-control-prev {
  width: auto;
  margin: 20% 10px;
}
.navigation {
  border-top: 20px solid #543822;
}
.w3-container {
  padding: 5% 30%;
}
.w3-container a {
  font-family: Source Han Serif SC;
  font-size: 16px;
  text-align: center;
}
.w3-border-red,
.w3-hover-border-red:hover {
  border-color: #ae9141 !important;
}

.account {
  font-family: Source Han Serif SC;
  font-style: medium;
  font-size: 22;
  margin: 50px 100px;
}
.outside {
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 20px;
}

.suggest,
.signin-boutton {
  display: inline-block;
  vertical-align: middle;
}
.suggest {
  padding-right: 60%;
}
.signin-boutton button {
  background-color: #ede49c;
  color: #543822;
  padding: 6px 35px;
  border-radius: 12px;
  border-style: none;
}
.signin-boutton button:hover {
  background-color: #ae9141;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  box-shadow: 0 0 2em #ede49c;
}
/*.signin-boutton :hover {
  box-shadow: 0 0 2em #ede49c;
}*/

.price-text,
.price {
  display: inline-block;
}

/*中間購買商品*/
.shopping-iteams {
  width: 50%;
}
.top-top {
  display: inline-block;
  vertical-align: middle;
}
.left,
.middle,
.right {
  display: inline-block;
  vertical-align: middle;
}

.total {
  width: 100%;
  font-family: Source Han Serif SC;
  font-style: medium;
  font-size: 22;
  padding: 5px;
  border-top: 3px solid #dddedd;
}

.goon {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
.continue button {
  display: inline-block;
  vertical-align: middle;
  border-radius: solid #dddedd;
  background-color: #dddedd;
  color: #000000;
  padding: 6px 35px;
  border-radius: 12px;
  border-style: none;
}

.continue button a,
.next button a {
  text-align: center;
}

.orange {
  color: #fe7f03;
}
.small {
  font-size: 18px;
}
.shopping {
  padding: 0px 100px;
}
.col-md-4 img {
  width: 60%;
}
.img-text {
  display: inline-block;
}
.img-text img,
.img-text .p-wrapper {
  display: inline-block;
}
.up {
  background-color: #dddedd;
  padding: 1%;
  border: 10px solid #ffffff;
}
.bouttom-wrapper {
  padding: 80px 35%;
}
.bouttom-wrapper a {
  text-decoration: none;
  padding-left: 30px;
}
.bouttom-wrapper a button {
  display: inline-block;
  vertical-align: middle;
  border-radius: solid #dddedd;
  background-color: #ede49c;
  color: #543822;
  padding: 10px 35px;
  border-radius: 12px;
  border-style: none;
}
.bouttom-wrapper a button:hover {
  background-color: #ae9141;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  box-shadow: 0 0 2em #ede49c;
}
.bouttom-wrapper a .gray {
  background-color: #dddedd;
  color: #000000;
}
.bouttom-wrapper a .gray:hover {
  background-color: #dddedd;
  color: #000000;
  border: none;
  box-shadow: none;
}
.bouttom-wrapper a {
  font-family: Source Han Serif SC;
}
.shopping {
  border-bottom: #dddedd;
}
.shopping nav button {
  font-family: Source Han Serif SC;
  color: #543822;
  background: none;
  background-color: #ede49c;
}
.nav-link {
  background-color: transparent;
}

.shopping-zone {
  padding: 50px 100px;
}
.shopping-zone p {
  font-family: Source Han Serif SC;
  padding: 15px 0px;
}
.shopping-zone select {
  border: 2px solid #ede49c;
}

.shopping-zone form input {
  border: 2px solid #ede49c;
  border-radius: 12px;
  padding: 1%;
}
.price {
  padding-left: 20%;
}
.price .row {
  border: #dddedd;
  border-radius: 16px;
  padding: 30px 0px;
}
.shopping-items h4,
.shopping-items p {
  font-family: Source Han Serif SC;
  text-align: center;
}
.form-select,
.form-select option {
  font-family: Source Han Serif SC;
}
.col-md-6 form input {
  font-family: Source Han Serif SC;
}
.price {
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  padding-right: 30%;
}
.price .row .ri {
  padding-right: 15px;
}
.shopping-zone .row .le {
  padding-left: 20%;
}
.shopping-items img,
.p-wrapper {
  vertical-align: middle;
}
.p-wrapper {
  padding: 3px 5px;
}
.p-wrapper p {
  padding: 3% 3px;
}
.explian p,
.shopping-items img {
  vertical-align: middle;
  display: inline-block;
}
.explian p {
  padding: 1% 2%;
}
.shopping-zone .row {
  border-top: 2px solid #dddedd;
  padding: 10px 0px;
}
.price .row {
  border-top: none;
}
.mid-right img {
  width: 6%;
  height: 7%;
}
.mid-right {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8%;
  padding-left: 13%;
}
.mid-right p,
.mid-right img {
  display: inline-block;
  vertical-align: middle;
}
.nav-tabs .active {
  --bs-nav-tabs-link-active-bg: #ede49c;
}
.nav-tabs {
  --bs-nav-tabs-link-active-color: #543822;
}
.nav-link {
  --bs-nav-link-color: #000000;
  --bs-nav-link-hover-color: #000000;
}
/*加減計算器*/
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.contact p {
  display: inline-block;
}
.count-btn {
  cursor: pointer;
}
.add-cal {
  padding-top: 24%;
  padding-left: 21%;
}

/*下方資訊*/
.row-up {
  background-color: #2d2d2d;
  border-bottom: 3px solid #ffffff;
  padding: 10px 100px;
}
.row-up a {
  text-decoration: none;
}
.row-up a img {
  width: 12%;
  padding-right: 5px;
}
.down {
  background-color: #2d2d2d;
  border-bottom: 6px solid #2d2d2d;
  border-top: 30px solid #2d2d2d;
  padding: 0px 100px;
}
.down p {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-family: Source Han Serif SC;
  padding: 10px 0px;
}
.down a {
  text-decoration: none;
}
.down a p {
  font-size: 16px;
}
.en-t {
  font-family: Athelas;
}

.company p {
  text-align: center;
  font-size: 14px;
}
.down .row {
  padding-bottom: 70px;
}
.phone_down {
  display: none;
}
.price-phone {
  display: none;
}
/*手機版*/
@media (max-width: 767px) {
  .navbar {
    --bs-navbar-toggler-border-color: rgb(255, 255, 255);
  }
  .collapse {
    padding-left: 0%;
  }
  .nav-item {
    padding: 8px 0px;
  }
  .carousel {
    display: none;
  }
  .up {
    display: none;
  }
  .suggest {
    padding: 0px 5%;
  }
  .shopping-items {
    padding-top: 40px;
    padding-left: 20%;
  }
  .explian p {
    width: 60%;
    padding: 10px 0px;
    text-align: left;
  }
  .mid-right img {
    width: 23px;
    height: 23px;
  }
  .mid-right {
    padding: 0px 10px;
  }
  .add-cal {
    padding: 20px 0px;
  }
  .text-line p {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 5%;
  }
  .price-phone {
    border: 1px solid #d9d9d9;
    border-radius: 16px;
  }
  .form-select {
    width: 70%;
  }
  .shopping-zone .col-md-6 {
    padding-left: 20%;
  }
  form input {
    width: 70%;
  }
  .le {
    padding: 40px 0px;
  }
  .price {
    display: none;
  }
  .price-phone {
    display: block;
  }
  .bouttom-wrapper {
    padding: 20px 13%;
  }

  .row-up .col-md-3 a {
    padding-right: 15%;
  }
  .row-up .col-md-3 a img {
    width: 8%;
  }
  .inf .col-md-3 {
    padding-bottom: 5%;
  }
  .inf {
    display: none;
  }
  .phone_down {
    display: inline-block;
    vertical-align: top;
  }
  .down-wrapper {
    width: 100%;
  }
}
